* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

html {
    background: linear-gradient(#363795, #005C97);
    font-family: 'Josefin Sans', Helvetica, sans;
    color: white;
}

h1 {
    font-weight: 300;
    font-size: 42pt;
    text-align: center;
}

.minorButton,.goBack {
    display: inline-block;
    font-size:25px;
    font-family: 'Josefin Sans', Helvetica, sans;
    color: white;
    font-weight: 400;
    padding: 7px;
    border: 1px solid white ;
    border-radius: 10px;
    text-align:center;
    background-color: transparent;
}

.minorButton:active, .minorButton:hover {
    cursor: pointer;
    background-color: white;
    color: #363795;
}

.minorButton:focus {
    outline: none;
}

.majorButton{
    display: block;
    font-size:25px;
    font-weight: 300;
    width: 400px;
    padding: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white ;
    border-radius: 10px;
    text-align:center;}


.majorButton:active, .majorButton:hover {
    cursor: pointer;
    border: 2px solid black ;
}

#courseList, #sectionList {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
}

#courseList li, #sectionList li {
    display: block;
    width: 100%;
    padding: 10px;
    border-top: 1px solid white;
    text-align: center;
}

#courseList a, #sectionList a {
    text-decoration: none;
    color: white;
}

#courseList li:active, #courseList li:hover, #sectionList li:active, #sectionList li:hover   {
    cursor: pointer;
    background-color: white;
    color: #363795;
}

#sectionList li.noHighlight:active, #sectionList li.noHighlight:hover, #courseList li.noHighlight:active, #courseList li.noHighlight:hover  {
    cursor: auto;
    background-color: transparent;
    color: white;
}

#courseList  li > h2, #courseList li > h3, #sectionList  li > h2, #sectionList li > h3{
    display: inline;
    font-weight: 400;
    font-size: 25px;
    
}

#courseList  li > h3, #sectionList  li > h3 {
    font-weight: 300;
}

.newInput {
    font-family: 'Josefin Sans', Helvetica, sans;
    font-weight: 300;
    font-size: 25px;
    padding: 7px;
    background-color: transparent;
    border: 1px white solid;
    text-align: center;
    border-radius: 10px;
    color: white;
}

#newSectionWeightInput {
    width: 100px;
}

.newInput:focus {
    outline: none;
    border: 2px white solid;
}

#currentGrade, #targetGrade {
    display:block;
    font-weight:400;
    font-size: 20px;
    text-align:center;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
}

#currentGrade:hover, #targetGrade:hover{
    border:2px solid black;
    cursor:pointer;
}


#currentGrade{
    width: 30%;
    background-color:green;
    float:left;
    margin-left: 10%;
    margin-right:10%;
}

#targetGrade{
    width:30%;
    float:right;
    margin-left: 10%;
    margin-right:10%;
}


#sectionList{
    width:100%;
    list-style-type:none;
    padding:0;
}

.nameAndWeight, .sectionAverage {
    display: inline-block !important;
    margin: 0;
    width: 30%;
    text-align: left
}

.sectionAverage {
    text-align: right;
}



.headerList li{display:inline;}

.goBack{background-image:url("http://www.clipartbest.com/cliparts/9Tz/Ez9/9TzEz9pLc.png"); background-size:100%; background-size: 73px auto; height: 75px; width: 75px;float:left;display: inline-block;
  text-decoration:none;  font-size:25px;
    font-family: 'Josefin Sans', Helvetica, sans;
    color: white;
    font-weight: 400;
    padding-top: 24px;  border: 1px solid white ;
    border-radius: 100%;
    text-align:center;
    background-color: transparent;  margin-left: 15px; margin-top: 15px;text-align:center;}
.goBack:active, .goBack:hover{background-image:url();cursor: pointer;
    background-color: white;
    color: #363795;}

.courseSettings,.courseSettingsHome{float:right; background-image:url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_settings_48px-128.png"); background-size: 100%; background-size: 75 px auto; display: inline-block;
  text-decoration:none;  font-size:25px;
    font-family: 'Josefin Sans', Helvetica, sans;
    color: white;
    font-weight: 400;
    padding-top:24px;
    border: 1px solid white ;
    border-radius: 100%;
    text-align:center;
    background-color: transparent;height: 75px; width: 75px;  margin-right: 15px; margin-top: 15px; font-size: 20px; text-align:center;}
.courseSettings:active, .courseSettings:hover,.courseSettingsHome:active, .courseSettingsHome:hover{background-image:url();cursor: pointer;
    background-color: white;
    color: #363795;}


/* animations for page transitions */

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideOutRight {
    from    { transform:translateX(0); }
    to      { transform: translateX(100%); }
}

@keyframes slideInLeft {
    from    { transform: translateX(-100%); }
    to      { transform: translateX(0); }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

.page-list.ng-leave { animation: disappear 0.5s ease-in 0s 1 normal both;}
.page-list.ng-enter { animation: appear 0.5s ease-in 0.5s 1 normal both;}

.page-details.ng-leave { animation: disappear 0.5s ease-in 0s 1 normal both;}
.page-details.ng-enter { animation: appear 0.5s ease-in 0.5s 1 normal both;}