* {
    box-sizing: border-box;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

html {
    background: linear-gradient(#363795, #005C97);
    font-family: 'Josefin Sans', Helvetica, sans;
    color: white;
}

.headerHome {
    margin-left: 0;
    padding-left: 0;
    }

.headerHome li h1{
    font-weight: 300;
    font-size: 50pt;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
}

.headerHome li{
    display: block;
}

.headerHome .topbutton{
    position: absolute;
    top: 10px;
    right: 10px;
}

.leftbutton {
    left: 10px;
}

.courseStatus *{
    display: inline;
}

.minorButton,.goBack {
    display: inline-block;
    font-size:16pt;
    font-family: 'Josefin Sans', Helvetica, sans;
    color: white;
    font-weight: 400;
    padding: 7px;
    border: 1px solid white ;
    border-radius: 10px;
    text-align:center;
    background-color: transparent;
}

.minorButton:active, .minorButton:hover {
    cursor: pointer;
    background-color: white;
    color: #363795;
}

.minorButton:focus {
    outline: none;
}

.minorminorButton {
    display: inline-block;
    font-size:14pt;
    font-family: 'Josefin Sans', Helvetica, sans;
    color: white;
    font-weight: 400;
    padding: 7px;
    border: 1px solid white ;
    border-radius: 10px;
    text-align:center;
    background-color: transparent;
}

.minorminorButton:active, .minorminorButton:hover {
    cursor: pointer;
    background-color: white;
    color: #363795;
}

.minorminorButton:focus {
    outline: none;
}

.majorButton{
    display: block;
    font-size:16px;
    font-weight: 300;
    width: 400px;
    padding: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white ;
    border-radius: 10px;
    text-align:center;
}


.majorButton:active, .majorButton:hover {
    cursor: pointer;
    border: 2px solid black ;
}

#courseList, #sectionList {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
}

#sectionList {
    margin-top: 5px;
}

#courseList li, #sectionList li {
    display: block;
    width: 100%;
    padding: 5px;
    border-top: 1px solid white;
    text-align: center;
}

#courseList li{
    padding-top: 9px;
    padding-bottom: 9px;
}

#courseList a, #sectionList a {
    text-decoration: none;
    color: white;
}

#courseList li:hover,#courseList li:active, #sectionList li:hover,  #sectionList li:active  {
    cursor: pointer;
    background-color: white;
    color: #363795;
}

#sectionList li.noHighlight:active, #sectionList li.noHighlight:hover, #courseList li.noHighlight:active, #courseList li.noHighlight:hover  {
    cursor: auto;
    background-color: transparent;
    color: white;
}

.noHighlight {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

#courseList li div.courseStatus{
    display: inline;
    font-weight: 400;
    font-size: 20pt;
}

#courseList li div.courseStatus{
    display: inline;
    font-weight: 400;
    font-size: 20pt;
}

.delMes {
    font-size: 14px;
    font-weight: 300;
}

#courseList li h3 {
	display: inline;
    font-weight: 300;
    font-size: 18pt;
}


#sectionList  li > h2{
	display: inline;
    font-weight: 400;
    font-size: 16pt;
    font-style: italic;

}

#sectionList li > h3{
	display: inline;
    font-weight: 300;
    font-size: 16pt;
    font-style: italic;
}

.deleteSection{
    display: inline-block;
    text-align: left;
    margin: 4px; 
}

.invertedInput {
    font-family: 'Josefin Sans', Helvetica, sans;
    font-weight: 300;
    font-size: 16pt;
    padding: 7px;
    background-color: transparent;
    border: 1px black solid;
    text-align: center;
    border-radius: 10px;
    color: black;
    margin-top: 2%;
}

.newAssignment {
    width: 50%;
    font-family: 'Josefin Sans', Helvetica, sans;
    font-weight: 300;
    font-size: 16pt;
    padding: 7px;
    padding-left: 10%;
    background-color: transparent;
    border: 1px white solid;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: 2%;
}

.newInput{
    font-family: 'Josefin Sans', Helvetica, sans;
    font-weight: 300;
    font-size: 16pt;
    padding: 7px;
    background-color: transparent;
    border: 1px white solid;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: 2%;
    width: 70%;
}

option{
    background-color:red;
}

#itemList .newInput {
    width: 30%;
    font-size: 14pt;
    text-align: center;
}

#itemList {
    padding: 0;
    display: none;
}

.itemNumber , .itemPercent {
    font-size: 13pt;
    margin-top: 3px;
    margin-bottom: 3px;
}

.itemNumber{
    margin-left: -10%;
}

.itemPercent{
    margin-right: -15%;
}

.fa-plus-square, .fa-minus-square {
    cursor: pointer;
}

.itemNumber{
    float: left;
}

.itemPercent{
	float: right;
}


#newItemPossiblePointsInput, #newItemPointsInput {
    width: 18.5% !important;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}

#newSectionWeightInput{
	width: 24%;
    
}

#newSectionNameInput{
    width: 56%;
}

.newInput:focus {
    outline: none;
    border: 2px white solid;
}

.courseTitle{
    margin-top: 25pt;
	font-weight: 300;
    font-size: 45pt;
    text-align: center;
    margin-bottom: 15px;
}

.possibleGrade{
    display: inline;
}

 #currentGrade, #targetGrade {
    display:block;
    font-weight:400;
    font-size: 16px;
    text-align:center;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
}

#currentHomeGrade, #currentGrade:hover, #targetGrade:hover{
    border:1px solid black;
    cursor:pointer;
}


#currentGrade{
    width: 70%;
    background-color:green;
    float:left;
    margin-left: 15%;
    margin-right: 15%;
}

#currentHomeGrade{
    display:block;
    font-weight:400;
    font-size: 16px;
    text-align:center;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -30px;
    background-color: green;
}

#currentHomeGrade p{
    display: inline;
}

#switchView{  
	display:block;
    font-weight:400;
    font-size: 18px;
    text-align:center;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
	width:65%;
 	margin-left: 20%;
    margin-right:20%; 
    margin-bottom: 5%; 
}

#switchView{  
    width:50%;
    margin-left: 25%;
    margin-right:25%; margin-bottom: 3%;
}

#sectionList{
    width:100%;
    list-style-type:none;
    padding:0;
}

#sectionList li{
    padding-left: 10px;
    padding-right: 10px;
}

#itemList li{
    padding-left: 50px;
    padding-right: 50px;
}


.nameAndWeight, .sectionAverage {
    font-style: italic;
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.nameAndWeight{
    float: left;
}

.sectionAverage {
    float: right;
}

.sectionInput{
    font-family: 'Josefin Sans', Helvetica, sans;
    font-weight: 300;
    font-size: 16pt;
    padding: 7px;
    background-color: transparent;
    border: 1px white solid;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: 2%;
}

.weightInput{
	font-family: 'Josefin Sans', Helvetica, sans;
    font-weight: 300;
    font-size: 16pt;
    padding: 7px;
    background-color: transparent;
    border: 1px white solid;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: 2%;
    width: 200px;
}

#newItemNameInput{
    font-family: 'Josefin Sans', Helvetica, sans;
    font-weight: 300;
    font-size: 18px;
    padding: 7px;
    background-color: transparent;
    border: 1px white solid;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: 2%;
    width: 38%;
}

.headerList li{
    display:inline;
}

.viewMode{
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline;
    font-size: 20px;
    margin-left: 21%;
}

.goBack:active,.goBack:hover,.topbutton:active,.topbutton:hover,#switchView:active, #switchView:hover {cursor: pointer;
    background-color: white;
    color: #363795;
}

.topbutton{
	z-index:5;
  	text-decoration:none;  
    font-family: 'Josefin Sans', Helvetica, sans;
    color: white;
    font-weight: 400;
    border: 1px solid white ;
    border-radius: 100%;
    text-align:center;
    background-color: transparent;
    height: 40px; 
    width: 40px;
    line-height: 45px;
    font-size: 30px; 
    text-align:center;
}

/* animations for page transitions */

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideOutRight {
    from    { transform:translateX(0); }
    to      { transform: translateX(100%); }
}

@keyframes slideInLeft {
    from    { transform: translateX(-100%); }
    to      { transform: translateX(0); }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} 

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

.page-list.ng-leave { animation: disappear 0.4s ease-in 0s 1 normal both;}
.page-list.ng-enter { animation: appear 0.4s ease-in 0.4s 1 normal both;}

.page-details.ng-leave { animation: disappear 0.4s ease-in 0s 1 normal both;}
.page-details.ng-enter { animation: appear 0.4s ease-in 0.4s 1 normal both;}