* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

html {
    background: linear-gradient(#363795, #005C97);
    font-family: 'Josefin Sans', Helvetica, sans;
    color: white;
}

.headerHome li h1{
    font-weight: 300;
    font-size: 120pt;
    text-align: center;
    margin-left: 115px;
}

.headerHome li{
    display: inline;
}

.headerHome .courseSettings{
    margin-top: -80px;
    padding-top: -15px;
}

.courseStatus p{
    display: inline;
}

.minorButton,.goBack {
    display: inline-block;
    font-size:45pt;
    font-family: 'Josefin Sans', Helvetica, sans;
    color: white;
    font-weight: 400;
    padding: 7px;
    border: 1px solid white ;
    border-radius: 10px;
    text-align:center;
    background-color: transparent;
}

.minorButton:active, .minorButton:hover {
    cursor: pointer;
    background-color: white;
    color: #363795;
}

.minorButton:focus {
    outline: none;
}

.minorminorButton {
    display: inline-block;
    font-size:32pt;
    font-family: 'Josefin Sans', Helvetica, sans;
    color: white;
    font-weight: 400;
    padding: 7px;
    border: 1px solid white ;
    border-radius: 10px;
    text-align:center;
    background-color: transparent;
}

.minorminorButton:active, .minorminorButton:hover {
    font-size: 30pt;
    cursor: pointer;
    background-color: white;
    color: #363795;
}

.minorminorButton:focus {
    outline: none;
}

.majorButton{
    display: block;
    font-size:25px;
    font-weight: 300;
    width: 400px;
    padding: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white ;
    border-radius: 10px;
    text-align:center;
}


.majorButton:active, .majorButton:hover {
    cursor: pointer;
    border: 2px solid black ;
}

#courseList, #sectionList {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
}

#courseList li, #sectionList li {
    display: block;
    width: 100%;
    padding: 10px;
    border-top: 1px solid white;
    text-align: center;
}

#courseList a, #sectionList a {
    text-decoration: none;
    color: white;
}

#courseList li:hover,#courseList li:active, #sectionList li:hover,  #sectionList li:active  {
    cursor: pointer;
    background-color: white;
    color: #363795;
}

#sectionList li.noHighlight:active, #sectionList li.noHighlight:hover, #courseList li.noHighlight:active, #courseList li.noHighlight:hover  {
    cursor: auto;
    background-color: transparent;
    color: white;
}


#courseList  li > h2{
    display: inline;
    font-weight: 400;
    font-size: 50pt;
}

#courseList li > h3{
	display: inline;
    font-weight: 300;
    font-size: 50pt;
}


#sectionList  li > h2{
	display: inline;
    font-weight: 400;
    font-size: 38pt;
    font-style: italic;

}

#sectionList li > h3{
	display: inline;
    font-weight: 300;
    font-size: 35pt;
    font-style: italic;
}

.deleteSection{
    display: inline-block;
    font-size: 52px !important;
    text-align: left;
    margin: 15px;
    font-style: italic;
}

.newInput {
    font-family: 'Josefin Sans', Helvetica, sans;
    font-weight: 300;
    font-size: 45pt;
    padding: 7px;
    background-color: transparent;
    border: 1px white solid;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: 2%;
}

.newAssignment {
    width: 60%;
    font-family: 'Josefin Sans', Helvetica, sans;
    font-weight: 300;
    font-size: 45pt;
    padding: 7px;
    text-indent: 72px;
    background-color: transparent;
    border: 1px white solid;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: 2%;
}

option{
    background-color:red;
}

#itemList .newInput {
    font-size: 32pt;
    text-align: center;
}

#itemList {
    padding: 0;
    display: none;
}

.itemNumber , .itemPercent {
    display: inline-block !important;
    width: 70%;
    text-align: left;
    margin: 15px;
 /*   color: black; */
    font-size: 34pt;
}

.fa-plus-square, .fa-minus-square {
    cursor: pointer;
}

.itemNumber{
    margin-left: 40px;
}

.itemPercent{
	text-align: right;
    width:20%;
}


#newItemPossiblePointsInput, #newItemPointsInput {
    width: 150px;
    margin-bottom: 20px;
    text-align: center;
}

#newSectionWeightInput{
	width: 200px;
}

.newInput:focus {
    outline: none;
    border: 2px white solid;
}

.courseTitle{
    margin-top: 20pt;
	font-weight: 300;
    font-size: 100pt;
    text-align: center;
}

.possibleGrade{
    display: inline;
}

 #currentGrade, #targetGrade {
    display:block;
    font-weight:400;
    font-size: 42px;
    text-align:center;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
}

#currentHomeGrade, #currentGrade:hover, #targetGrade:hover{
    border:2px solid black;
    cursor:pointer;
}


#currentGrade{
    width: 47%;
    background-color:green;
    float:left;
    margin-left: 1%;
    margin-right: 2%;
}

#currentHomeGrade{
    display:block;
    font-weight:400;
    font-size: 40px;
    text-align:center;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    width: 72%;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 30px;
    background-color: green;
}

#currentHomeGrade p{
    display: inline;
}

#switchView{  
	display:block;
    font-weight:400;
    font-size: 50px;
    text-align:center;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
	width:60%;
 	margin-left: 20%;
    margin-right:20%; 
    margin-bottom: 5%; 
    margin-top: -5%;
}

#switchView{  
    width:50%;
    margin-left: 25%;
    margin-right:25%; margin-bottom: 3%;
}

#targetGrade{
    width:47%;
    float:right;
    margin-left: 2%;
    margin-right:1%;
}

#sectionList{
    width:100%;
    list-style-type:none;
    padding:0;
}

.nameAndWeight, .sectionAverage {
    display: inline-block;
    width: 65%;
    text-align: left;
    margin: 15px;
    font-style: italic;
}

.nameAndWeight{
    font-size: 52px;
}

.sectionAverage {
    font-size: 52px;
	width:26%;
    text-align: right;
}

.sectionInput{
font-family: 'Josefin Sans', Helvetica, sans;
    font-weight: 300;
    font-size: 45pt;
    padding: 7px;
    background-color: transparent;
    border: 1px white solid;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: 2%;
}

.weightInput{
	font-family: 'Josefin Sans', Helvetica, sans;
    font-weight: 300;
    font-size: 45pt;
    padding: 7px;
    background-color: transparent;
    border: 1px white solid;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: 2%;
    width: 200px;
}

.headerList li{
    display:inline;
}

.goBack{
    display: inline;
	z-index:5; 
	height: 100px; 
	width: 100px;
	float:left;
	display: inline-block;
  	text-decoration:none;  
  	font-size:25px;
    font-family: 'Josefin Sans', Helvetica, sans;
    color: white;
    font-weight: 400;
    padding-top: 16px;  
    border: 1px solid white ;
    border-radius: 100%;
    text-align:center;
    background-color: transparent; 
     margin-left: 0px; 
     margin-top: 15px;
     text-align:center;
 }

.viewMode{
    margin-top: 100px;
    display: inline;
    font-size: 60px;
    clear:both;
    text-align: center;
    margin-left: 21%;
}

.goBack:active,.goBack:hover,.courseSettings:active,.courseSettings:hover,#switchView:active, #switchView:hover {cursor: pointer;
    background-color: white;
    color: #363795;
}

.courseSettings{
    display: inline;
	z-index:5;
	float:right; 
	display: inline-block;
  	text-decoration:none;  
  	font-size:25px;
    font-family: 'Josefin Sans', Helvetica, sans;
    color: white;
    font-weight: 400;
    padding-top:10px;
    border: 1px solid white ;
    border-radius: 100%;
    text-align:center;
    background-color: transparent;
    height: 100px; 
    width: 100px;  
    margin-right: 40px; 
    margin-top: 15px; 
    font-size: 20px; 
    text-align:center;
}

/* animations for page transitions */

@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideOutRight {
    from    { transform:translateX(0); }
    to      { transform: translateX(100%); }
}

@keyframes slideInLeft {
    from    { transform: translateX(-100%); }
    to      { transform: translateX(0); }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} 

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

.page-list.ng-leave { animation: disappear 0.4s ease-in 0s 1 normal both;}
.page-list.ng-enter { animation: appear 0.4s ease-in 0.4s 1 normal both;}

.page-details.ng-leave { animation: disappear 0.4s ease-in 0s 1 normal both;}
.page-details.ng-enter { animation: appear 0.4s ease-in 0.4s 1 normal both;}