<ul class = "headerList">
<li><a href = "#courses" class = "goBack"> <i class = "fa fa-home fa-3x"></i>  </a></li>
<li><a class = "courseSettings"> <i class = "fa fa-cog fa-4x"></i> </a></li>
</ul>
<h1 class = "courseTitle">{{ course.name }}</h1>

<div id = "switchView" href = "#"><i class="fa fa-arrows-h fa-lg"></i> Switch View <i class="fa fa-arrows-h fa-lg"></i> </div> 

<div id = "currentGrade"> Current Grade: {{ getCourseAverage(course) }} </div>

<div id = "targetGrade"> Target Grade: Click to Set </div>
<br />
<br />
<br />
<br />
<br />
<ul id="sectionList">
    <a ng-repeat="section in course.sections" ng-swipe-right="removeSection($index)">
    <li>
        <h2 class="nameAndWeight">&nbsp;&nbsp;&nbsp;{{section.name}} ({{section.weight}}%)</h2> <h3  class="sectionAverage">{{getSectionAverage(section)}}%</h3>
    </li>
    </a>
    <li class="noHighlight">
        <form role="form" ng-submit="addSection()">
            <input ng-model="sectionName" class="sectionInput" type = "text" placeholder = "Add New Section" />
            &nbsp;&nbsp;&nbsp;
            <input ng-model="sectionWeight" class="weightInput"  type = "text" placeholder = "Weight" />
            &nbsp;&nbsp;&nbsp;
            <input type="submit" class="minorButton" value="Add" />
        </form>
    </li>
</ul>