<ul class = "headerList">
    <li><a href = "#courses" class = "goBack"> <i class = "fa fa-home fa-3x"></i>  </a></li>
    <li class = "viewMode"> Actual Grade <li>
    <li class = "viewMode" style ="display:none; margin-left:16%; font-style:italic;"> Predictive Grade </li> 
    <li><a class = "courseSettings"> <i class = "fa fa-cog fa-4x"></i> </a></li>
</ul>
<h1 class = "courseTitle">{{ course.name }}</h1>
<div id = "switchView" href = "#" ng-click="switchView()"><i class="fa fa-arrows-h fa-lg"></i> Switch View <i class="fa fa-arrows-h fa-lg"></i> </div> 
<div id = "currentGrade" ng-click="toggleGrade()"> <p class = "possibleGrade" style = "display:none"> Total Grade: {{ 100*getCourseAverage(course) | number : 2 }}% </p> <p class = "possibleGrade" > Running Grade: {{ 100*getRunningCourseAverage(course) | number : 2 }}% </p> </div>

<div id = "targetGrade"> Target Grade: Click To Set </div>
<div style="height: 60px;"></div>
<ul id="sectionList">
    <span ng-repeat="section in course.sections" >
        <a ng-swipe-right="toggleSectionDelete()" ng-click="toggleItemList($index)">
            <li>
                <p class="nameAndWeight">{{section.name}} ({{section.weight}}%)</p> <p class="sectionAverage">{{100*getSectionAverage(section) | number : 2}}%</p>
                <p class = "deleteSection" style = "display:none;"> Delete This Section? </p> <p class = "deleteSection" ng-click = "removeSection($index)" style = "background-color: red; text-align:center; border: 2px solid white; border-radius: 10px; padding-left: 10px; padding-right: 15px; display:none;"> Yes </p> <p class = "deleteSection" ng-click = "toggleSectionDelete()" style = "text-align:center; border: 2px solid white; border-radius: 10px; padding-right: 10px; display:none;"> No </p>
            </li>
        </a>
        <ul id="itemList">
            <a ng-repeat="item in section.items" ng-swipe-right="toggleMiniDelete()">
                <li>
                    <p class = "itemNumber">{{item.name}} - <span ng-if="predictive" ng-click="changePoints($parent.$parent.$index, $index, -1)" class="fa fa-minus-square"></span> {{item.points}}/{{item.possiblePoints}} <span ng-if="predictive" ng-click="changePoints($parent.$parent.$index, $index, 1)" class="fa fa-plus-square"></span></p>
                    <p class = "itemPercent">({{100.0 * item.points / item.possiblePoints | number : 2}}%)</p> 
                     <p class = "deleteSection" style = "display:none;"> Delete This Section? </p> <p class = "deleteSection" ng-click = "removeItem($parent.$index, $index)" style = "background-color: red; text-align:center; border: 2px solid white; border-radius: 10px; padding-left: 10px; padding-right: 15px; display:none;"> Yes </p> <p class = "deleteSection" ng-click = "toggleMiniDelete()" style = "text-align:center; border: 2px solid white; border-radius: 10px; padding-right: 10px; display:none;"> No </p>

                </li>
            </a>
            <li class="noHighlight">
                <form role="form" ng-submit="addItem($index)">
                    <input ng-model="itemName[$index]" class="newInput" id="newItemNameInput" type = "text" placeholder = "Add New Item" />
                    &nbsp;&nbsp;&nbsp;
                    <input ng-model="itemPoints[$index]"  class="newInput" id="newItemPointsInput" type = "text" placeholder = "Points" />
                    <span style = "font-size:45px">/</span>
                    <input ng-model="itemPossiblePoints[$index]"  class="newInput" id="newItemPossiblePointsInput" type = "text" placeholder = "Possible Points" />
                    &nbsp;&nbsp;&nbsp;
                    <input type="submit" class="minorminorButton" value="Add" />
                </form>
            </li>
        </ul>
    </span>
    <li class="noHighlight">
        <form role="form" ng-submit="addSection()">
            <input ng-model="sectionName" class="newAssignment" id="newSectionNameInput" type = "text" placeholder = "Add New Section" list = "browsers" />
            <datalist id = "browsers">
                <option value = "Assignments">
                <option value = "Discussion">
                <option value = "Extra Credit">
                <option value = "Final">
                <option value = "Homework">
                <option value = "Labs">
                <option value = "Midterms">
                <option value = "Papers">
                <option value = "Participation">
                <option value = "Quizzes">
                <option value = "Tests">
                <option value = "Other">
            </datalist>
            &nbsp;&nbsp;&nbsp;
            <input ng-model="sectionWeight" class="newInput" id="newSectionWeightInput" type = "text" placeholder = "Weight" />
            &nbsp;&nbsp;&nbsp;
            <input type="submit" class="minorButton" value="Add" />
        </form>
    </li>
</ul>

