<ul class = "headerHome">
<li><a class = "courseSettings"><i class="fa fa-question fa-4x"></i></a></li>
<li><h1>DayOne</h1> </li>
</ul>
<ul id="courseList">
  <a href="#courses/{{$index}}" ng-repeat="course in courses" ng-swipe-right="toggleDelete($index)">
    <li>
        <h2 class = "courseStatus"> {{course.name}} </h2> 
        <h2 class = "courseStatus" style = "display: none;"> Delete This Course? &nbsp;&nbsp; <p ng-click = "removeCourse($index)" style = "background-color: red; text-align:center; border: 2px solid white; border-radius: 10px; padding-left: 10px; padding-right: 10px"> Yes</p> &nbsp;&nbsp;<p ng-click ="toggleDelete($index)" style = "text-align:center; border: 2px solid white; border-radius: 10px; padding-right: 10px;"> No </p> </h2>
        <h3 class = "possibleHomeGrade" style = "display:none;" >({{100*getCourseAverage(course) | number: 3}}%)</h3> 
        <h3 class = "possibleHomeGrade" >({{100*getRunningCourseAverage(course) | number: 3}}%)</h3>
    </li>
    </a>
    <li class="noHighlight">
    	<form role="form" ng-submit="addCourse()">
        	<input ng-model="courseName" class="newInput" id="newCourseInput" type = "text" placeholder = "Add New Course" />
        	&nbsp;&nbsp;&nbsp;
        	<input type="submit" class="minorButton" value="Add" />
        </form>
    </li>
</ul>

<div id = "currentHomeGrade" ng-click="toggleHomeGrades()"> <p class = "possibleHomeGrade"> Running Grades (Click for Total Grades) </p> <p class = "possibleHomeGrade" style = "display:none"> Total Grades (Click for Running Grades) </p> </div>